{% extends "inicio.html" %}
{% block titulo %}
  Eliminar Cargo
{% endblock %}
{% load static %}
{% block css%}
  <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
{% endblock %}
{% block contenido %}
  <section class="form">
      <div class="titulo-form">
          <h1>Eliminación de Datos</h1>
      </div>
      <form method="POST" id="form-cargo" class="contenedor">
          {% csrf_token %}
          <h2>¿Está seguro en eliminar el empleado => 
              <span style="color:red;"> {{empleado.id}} - <br><br>{{empleado.nombre}} </span> ?
          </h2>
          <button class="boton" style="background: red;border-radius: 5px;padding: 5px;" type="submit">Eliminar</button>
          <a style="display: block;background: green;border-radius: 5px;" href="{% url 'empleado' %}">Cancelar</a>
      </form>
  </section>
{% endblock %}